.jumbotron {
    background: url(images/story/story1/7.jpg);
    background-size:cover;
    text-align: center;
    color: white;
    height: 50vh;
}

.jumbotron .container {
    padding-top: 100px;

}

.nav{
     background-color: antiquewhite;
    
    
}